<div class="container pt-5">
  <div class="row">
    <div class="col-6">
      our lists are
      <% @lists.each do |list| %>
      <div><%= link_to list.name, list_path(list) %></div>
      <% end %>
      <hr>
      <%= link_to "add new one", new_list_path %>
    </div>
  </div>
</div>
